# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules - Copy
dist
dist - Copy
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite-source-tags.js
.vercel
VITE_SUPABASE_URL=https://ytzygglkaitvzkduunrp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0enlnZ2xrYWl0dnprZHV1bnJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0ODY3NDIsImV4cCI6MjA5MzA2Mjc0Mn0.cjh2SlVQfrzSHyIlHxilsCpwdrRyxeqHWeLZeXbk6j4